@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="s1">
        <div class="s1-bg">
            <img src="~/Content/Images/Global/undraw_navigator_a479(2).svg" />
        </div>
        <div class="s1-content">
            <h2>@ProjetASP.net.Resources.Home.Index.Title</h2>
            <p>
                @ProjetASP.net.Resources.Home.Index.Paragraph
            </p>
            <form action="/Voiture/ListVoiture" method="post">
                <div class="input-group">

                    <input name="TextRecherche" placeholder="..." type="text" class="form-control form-search" aria-label="Text input with dropdown button">
                    <select name="RecherchePar" class="custom-select form-search">
                        <option value="0" selected>@ProjetASP.net.Resources.Shared._Layout.SearchBy : </option>
                        <option value="Nom">@ProjetASP.net.Resources.Shared._Layout.Name</option>
                        <option value="Marque">@ProjetASP.net.Resources.Shared._Layout.Marque</option>
                        <option value="Couleur">@ProjetASP.net.Resources.Shared._Layout.Color</option>
                        <option value="Annee">@ProjetASP.net.Resources.Shared._Layout.Year</option>
                        <option value="Km">@ProjetASP.net.Resources.Shared._Layout.KM</option>
                        <option value="Proprietaire">@ProjetASP.net.Resources.Shared._Layout.Prop</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn form-search" type="submit">
                            <span class="Nan-icon">
                                <i class="bi bi-search"></i>
                            </span>
                        </button>
                    </div>

                </div>
            </form>

        </div>

    </div>
</section>
<section>
    <div class="s2 container">
        <div class="row justify-content-center">
            <div class="col-md-12 ">
                <h2> @ProjetASP.net.Resources.Home.Index.OffreSpec </h2>

            </div>
        </div>
        <div class="row">
            @if (Model != null)
            {
                foreach (ProjetASP.net.Models.Voiture_info item in Model)
                {

                    <div class=" col-md-3">
                        <div class="card card-product">
                            <div class="card-product-img"
                                 style="background: url('../../Content/Images/Voiture/@item.voiture.Image.Trim()') center no-repeat; background-size: contain; ">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    @item.voiture.Nom <br />
                                    <small>@item.voiture.Prix dh/j</small>
                                </h5>
                                <p class="card-text">
                                    @item.voiture.Marque<br />
                                    propriétaire : @item.user.Name
                                </p>

                                <a href="~/Voiture/Index?VoitureId=@item.voiture.Id" class="btn ">Voir plus <i class="bi bi-chevron-right"></i></a>
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <h3>vide</h3>
            }


        </div>
    </div>
</section>

<section>
    <div class="s3">
        <div class="s3-bg">
            <img src="~/Content/Images/Global/undraw_city_driver_jh2h.svg" />
        </div>
        <div class="s3-content">
            <h2>@ProjetASP.net.Resources.Home.Index.Title2</h2>
            <p>
                @ProjetASP.net.Resources.Home.Index.Paragraph2
            </p>
            <div class="s3-link">
                <a class="btn btn-1">@ProjetASP.net.Resources.Home.Index.ContactB</a>
                <a class="btn btn-2">@ProjetASP.net.Resources.Home.Index.AboutB</a>
            </div>
        </div>
    </div>
</section>